<?xml version="1.0"?>
<launch>
    <arg name="moveit_rviz" default="true"/>
    <include file="$(dirname)/planning_context.launch" >
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(dirname)/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true"/>
    </include>
    
    <group if="$(arg moveit_rviz)">
        <include file="$(dirname)/moveit_rviz.launch">
            <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
        </include>
    </group>
</launch>