<?xml version="1.0"?>
<robot name="box_sq">
    <link name="box_sq">
        <inertial>
            <mass value="4.360831999999999"/>
            <inertia ixx="0.005993" ixy="0.0" ixz="0.0" iyy="0.005993" iyz="-0.0" izz="0.010824"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://ur5_data_collect_fw/meshes/box_sq.stl" scale="0.001 0.001 0.001"/>
                <!-- <mesh filename="package://ur5_data_collect_fw/meshes/box_cc.stl" scale="0.001 0.001 0.001"/> -->
            </geometry>
            <material name="green">
                <color rgba="0 0.8 0 1.000"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://ur5_data_collect_fw/meshes/box_sq.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="box_sq">
        <material>Gazebo/DarkMagentaTransparent</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
</robot>
