<robot name="cube_red">
  <link name="cube">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="0.0004167" ixy="0.0"  ixz="0.0"  iyy="0.0004167"  iyz="0.0"  izz="0.0004167" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="cube">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>