<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5">
    <link name="world"/>
    <link name="pedestal">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="20"/>
            <inertia ixx="200" ixy="200" ixz="200" iyy="200" iyz="200" izz="200"/>                
        </inertial>
        <visual>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.1" length="0.2"/>
            </geometry>
            <material name="Gray">
                <color rgba="0.5 0.5 0.5 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.1" length="0.2"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="pedestal">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>
    <link name="board">
        <inertial>
            <mass value="20"/>
            <inertia ixx="200" ixy="200" ixz="200" iyy="200" iyz="200" izz="200"/>                
        </inertial>
        <visual>
            <geometry>
                <box size="0.6 1.5 0.03"/>    
            </geometry>
            <material name="blue">
                <color rgba="0 0 0.8 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.6 1.5 0.03"/>    
            </geometry>
        </collision>
    </link>
    <gazebo reference="board">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grass</material>
    </gazebo>
    <link name="box_sq">
        <inertial>
            <mass value="4.360831999999999"/>
            <inertia ixx="0.005993" ixy="0.0" ixz="0.0" iyy="0.005993" iyz="-0.0" izz="0.010824"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="package://ur5_data_collect_fw/meshes/box_sq.stl" scale="0.001 0.001 0.001"/>
                <!-- <mesh filename="package://ur5_data_collect_fw/meshes/box_cc.stl" scale="0.001 0.001 0.001"/> -->
            </geometry>
            <material name="green">
                <color rgba="0 0.8 0 1.000"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://ur5_data_collect_fw/meshes/box_sq.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="box_sq">
        <material>Gazebo/DarkMagentaTransparent</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="pedestal"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
    <joint name="world_board" type="fixed">
        <parent link="world"/>
        <child link="board"/>
        <origin xyz="0.5 0 0.015" rpy="0.0 0.0 0.0"/> 
    </joint>
    <joint name="box_joint" type="fixed">
        <parent link="board"/>
        <child link="box_sq"/>
        <origin xyz="0 0 0.015" rpy="0.0 0.0 0.0"/>
    </joint>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <!-- common stuff -->
    <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro"/>
    <!-- ur5 -->
    <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
    <!-- arm -->
    <xacro:ur5_robot prefix="" joint_limited="true"
        transmission_hw_interface="$(arg transmission_hw_interface)" />
    
    <joint name="base_joint" type="fixed">
        <parent link="pedestal"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.2" rpy="0.0 0.0 0.0"/>
    </joint>

    <joint name="ee_new_joint" type="fixed">
        <parent link="wrist_3_link" />
        <child link = "ee_link2" />
        <origin xyz="0.0 0.0823 0.0" rpy="-1.5707963267948966 0.0 0.0" />
    </joint>

    <link name="ee_link2">
        <visual>
            <geometry>
                <box size="0.03 0.03 0.1"/>
                <!-- <cylinder radius="0.03" length="0.1"/> -->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.05"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.03 0.03 0.1"/>
                <!-- <cylinder radius="0.03" length="0.1"/> -->
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.05"/>
        </collision>
    </link>

    <gazebo reference="base_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="shoulder_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="upper_arm_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="forearm_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="wrist_1_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="wrist_3_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="wrist_2_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
    <gazebo reference="ee_link">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="ee_link2">
        <sensor name="ee_link2_contactsensor_sensor" type="contact">
            <always_on>true</always_on>
            <contact>
                <collision>wrist_3_link_fixed_joint_lump__ee_link2_collision_2</collision>
            </contact>
            <plugin filename="libgazebo_ros_bumper.so" name="back_left_foot_plugin">
                <bumperTopicName>ee_link2_contactsensor_state</bumperTopicName>
                <frameName>ee_link2</frameName>
            </plugin>
        </sensor>
    </gazebo>
    <link name="camera_frame"/>
    <joint name="camera_frame_joint" type="fixed">
        <parent link="world"/>
        <child link="camera_frame"/>
        <origin xyz="2.0 1.0 0.805" rpy="0.0 0.3 -2.6122"/>
    </joint>
    <link name="camera_depth_optical_frame"/>
    <joint name="camera_depth_optical_frame_joint" type="fixed">
        <parent link="camera_frame"/>
        <child link="camera_depth_optical_frame"/>
        <origin xyz="0.0 0.0 0.0" rpy="-1.5708 0 -1.5708"/>
    </joint>

</robot>